* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  overflow: hidden;
}

button {
  color: inherit;
  font-size: inherit;
}

*::-webkit-scrollbar {
  display: none;
}

[contenteditable]:empty:before {
  content: attr(placeholder);
  opacity: 40%;
}

[contenteditable] {
  caret-color: deeppink;
}

::selection {
  background: aquamarine;
  color: deeppink;
}
