* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  overflow: hidden;
}

button {
  color: inherit;
  font-size: inherit;
}

textarea {
  resize: none;
}

textarea::-webkit-scrollbar {
  display: none;
}
