* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', sans-serif;
}

body {
  overflow: hidden;
}

button {
  color: inherit;
  font-size: inherit;
}

*::-webkit-scrollbar {
  display: none;
}

[contenteditable]:empty:before {
  content: attr(placeholder);
  opacity: 40%;
}

[contenteditable] {
  caret-color: deeppink;
}

::selection {
  background: aquamarine;
  color: deeppink;
}

.gradient {
  width: 100%;
  height: 100px;
  position: fixed;
  pointer-events: none;
}

.gradient.to-top {
  background: linear-gradient(to top, transparent, white);
}

.gradient.to-bottom {
  background: linear-gradient(to bottom, transparent, white);
}
